<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AdminMapper">

    <select id="queryInfoAccoutAndPwd" resultType="admin">
        select * from admin <where>
        a_account=#{account} and a_pwd=#{pwd}
    </where>
    </select>
</mapper>